*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: monospace;
}

body {
  max-width: 1200px;
  margin: 48px auto;
}

#interface {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: 1fr;
  gap: 4px;
  max-width: 880px;
  margin: 0 auto;
  padding: 16px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0px 0px 256px rgba(0, 0, 0, 0.15);
}

label {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

input {
  width: calc(100% - 64px);
}
